<header class="header">
    <div class="container">
        <nav class="nav">
            <a href="/" class="logo">Clover's Comments</a>
            <div class="nav-links">
                <a href="/comments" class="nav-link">Comments</a>

                {{#if user.isLoggedIn}}
                    <form action="/logout" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-outline">
                            Logout ({{user.name}})
                        </button>
                    </form>
                {{else}}
                    <a href="/register" class="nav-link">Register</a>
                    <a href="/login" class="btn btn-primary">Login</a>
                {{/if}}
            </div>
        </nav>
    </div>
</header>
