<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js" defer></script>
    <script src="/comments.js" defer></script>
</head>
<body>
    {{> nav}}
    {{{body}}}
    {{> footer}}
</body>
</html>
